* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(3, 151, 45);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#4fb5dd, #E0F6FF);
    padding-top: 1rem;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 4.5rem;
    animation: pipe-animation 3s infinite linear;
}

.mario {
    width: 9rem;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 600ms ease-out;
}

.clouds {
    position: absolute;
    width: 500px;
    animation: clouds-animation 15s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -5rem;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40%,50%,60%,70%{
        bottom: 160px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -500px;
    }

    to {
        right: 100%;
    }
}